*.class
.idea
.project
.settings
.classpath
.git
.factorypath
/target/
/logback/
/.apt_generated/
/bin/

./*/*.class

./*/.project
./*/.settings
./*/.classpath
./*/.git
./*/.factorypath
./*/target/
./*/logback/
./*/.apt_generated/
./*/bin/
