/.idea/
/design_pattern/target/
/aop/target/
/collections/target/
/database/target/
/gc/target/
/http/target/
/jvm/target/
/nlp/target/
/other/target/
/python/target/
/regex/target/
/thread/target/
/xml/target/
/common-util/target/
/algorithm/target/
/.settings/
/.project
/*/.settings/
/*/.project
/*/.classpath
/*/target/
/*/*.iml
/database/database.iml
/keepmind.iml
/io/io.iml
